* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

canvas {
  display: block; /* Remove any default inline spacing */
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}